build/
data/
bin/
.idea/
.metadata/
.recommenders
RemoteSystemsTempFiles/
.gradle/
out/
*.iml
*.ipr
*.iws
*.bak
*~*
all-files/
/src/main/resources/templates/js
/src/main/resources/templates/css
/src/main/resources/templates/img
/src/main/resources/templates/fonts
