@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html,
body
{
    /*font-family: Verdana, sans-serif;*/
    font-size: 15px;
    line-height: 1.5;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.top-bar-fixed{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}
