@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

html,
body
{
    /*font-family: Verdana, sans-serif;*/
    font-size: 15px;
    line-height: 1.5;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.top-bar-fixed{
    font-family: "Raleway", Arial, Helvetica, sans-serif;
}

.glyphicon-star.half {
    position: relative;
}
.glyphicon-star.half:before {
    position: relative;
    z-index: 9;
    width: 47%;
    display: block;
    overflow: hidden;
}
.glyphicon-star.half:after {
    content: '\e006';
    position: absolute;
    z-index: 8;
    color: #bdc3c7;
    top: 0;
    left: 0;
}
