<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <!--bootstrap and jquery-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <!--fonts and icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!--for date range picker-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" th:src="@{/js/daterangepicker.js}" src="js/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}" href="css/daterangepicker.css"/>

    <!--custom css/js-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" href="css/profile.css"/>
    <script type="text/javascript" th:src="@{/js/profile.js}" src="js/profile.js"></script>

    <title>Add Apartment</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="nav-side-menu" th:replace="profile_menu :: nav-bar-profile"></div><!--end of side bar-->
        </div><!--end of col-3 for the bar -->
        <!--main content of profile-->
        <div id="my_info" class="col-sm-9">
            <h1>Add new Apartment</h1>
            <form class="add-place-form" th:object="${apartment}" method="post" th:action="@{/profile/host/add_apartment}" action="add_apartment" id="new-apartment" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-form-label" for="f-price">Basic Price</label>
                        <input th:field="*{price}" class="form-control" type="number" min="1" max="40000" name="price" id="f-price" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-form-label" for="f-apartment-type">Apartment Type</label>
                        <select th:field="*{type}" class="form-control" name="apartment-type" id="f-apartment-type">
                            <option value="whole_apartment">Whole Apartment</option>
                            <option value="private_room">Private Room</option>
                            <option value="shared_room">Shared Room</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-4">
                        <label class="col-form-label" for="f-name">Name</label>
                        <input th:field="*{name}" type="text" class="form-control" id="f-name" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <label class="col-form-label" for="f-location-name">Location</label>
                        <input th:field="*{location}" class="form-control" name="location-name" id="f-location-name" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-4">
                        <label class="col-form-label">Select on map where is this place</label>
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#choose-location">Select</button>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-area">Area (square metre)</label>
                        <input th:field="*{area}" class="form-control" type="number" min="1" max="40000" name="area" id="f-area" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-baths">Baths</label>
                        <input th:field="*{baths}" class="form-control" type="number" min="1" max="100" name="baths" id="f-baths" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-bed">Bed</label>
                        <input th:field="*{bed}" class="form-control" type="number" min="1" max="100" name="bed" id="f-bed" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-rooms">Rooms</label>
                        <input th:field="*{rooms}" class="form-control" type="number" min="1" max="100" name="rooms" id="f-rooms" required="required"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-form-label" for="f-clean-price">Cleaning Price (euro)</label>
                        <input th:field="*{cleanPrice}" class="form-control" type="number" min="0" max="10000" name="clean-price" id="f-clean-price" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label class="col-form-label">Upload Images</label>
                        <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#choose-image">Select</button>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-min-people">Minimum people</label>
                        <input th:field="*{minPeople}" class="form-control" type="number" min="1" max="1000" name="min-people" id="f-min-people" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-max-people">Maximum people</label>
                        <input th:field="*{maxPeople}" class="form-control" type="number" min="1" max="1000" name="max-people" id="f-max-people" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-plus-price">Extra Cost per people(euro)</label>
                        <input th:field="*{plusPrice}" class="form-control" type="number" min="1" max="1000" name="plus-price" id="f-plus-price" required="required"/>
                    </div>
                    <div class="form-group col-xs-12 col-md-3">
                        <label class="col-form-label" for="f-standard-people">Standard People</label>
                        <input th:field="*{standardPeople}" class="form-control" type="number" min="1" max="1000" name="standard-people" id="f-standard-people" required="required"/>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-xs-12">
                        <label class="col-form-label" for="f-description">Description (max 255)</label>
                        <textarea th:field="*{houseDescription}" class="form-control" name="description" id="f-description" form="new-apartment" required="required" maxlength="255"> </textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-form-label" for="f-rules">Rules (max 255)</label>
                        <textarea th:field="*{rules}" class="form-control" name="rules" id="f-rules" form="new-apartment" required="required" maxlength="255"> </textarea>
                    </div>
                    <div class="form-group col-xs-12">
                        <label class="col-form-label" for="f-transportation">Transportation (max 255)</label>
                        <textarea th:field="*{trasnportationDescription}" class="form-control" name="trasportation" id="f-transportation" form="new-apartment" required="required" maxlength="255"> </textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="f-aircondition">
                            <input th:field="*{aircondition}" type="checkbox" id="f-aircondition" name="aircondition"/>
                            aircondition
                        </label>

                        <label class="pull-right" for="f-events">
                            <input th:field="*{events}" type="checkbox" id="f-events" name="events"/>
                            events
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="f-garage">
                            <input th:field="*{garage}" type="checkbox" id="f-garage" name="garage"/>
                            garage
                        </label>
                        <label class="pull-right" for="f-heat">
                            <input th:field="*{heat}" type="checkbox" id="f-heat" name="heat"/>
                            heat
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="f-kitchen">
                            <input th:field="*{kitchen}" type="checkbox" id="f-kitchen" name="kitchen"/>
                            kitchen
                        </label>

                        <label class="pull-right" for="f-lift">
                            <input th:field="*{lift}" type="checkbox" id="f-lift" name="lift"/>
                            lift
                        </label>
                    </div>

                    <div class="form-group col-xs-12 col-md-6">
                        <label for="f-parkings">
                            <input th:field="*{parking}" type="checkbox" id="f-parkings" name="parkings"/>
                            parkings
                        </label>

                        <label class="pull-right" for="f-pets">
                            <input th:field="*{pets}" type="checkbox" id="f-pets" name="pets"/>
                            pets
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="f-smoking">
                            <input th:field="*{smoking}" type="checkbox" id="f-smoking" name="smoking"/>
                            smoking
                        </label>

                        <label class="pull-right" for="f-tv">
                            <input th:field="*{tv}" type="checkbox" id="f-tv" name="tv"/>
                            tv
                        </label>
                    </div>
                    <div class="form-group col-xs-12 col-md-6">
                        <label for="f-wifi">
                            <input th:field="*{wi_fi}" type="checkbox" id="f-wifi" name="wifi"/>
                            wifi
                        </label>
                    </div>
                </div>
                <input class="btn btn-block btn-primary" id="new-place-btn" type="submit" value="Create New Place"/>
                <input th:field="*{lat}" id="f-lat" name="lat" class="hidden" required="required"/>
                <input th:field="*{lon}" id="f-lon" name="lon" class="hidden" required="required"/>
            </form>

        </div>
    </div>

</div>
<!--modal for choosing location-->
<div id="choose-location" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Choose Location On Map</h3>
            </div>
            <div class="modal-body">
                <div id="locationField">
                    <input id="autocomplete" placeholder="Enter your address or choose on map"
                           type="text"/>
                </div>
                <button class="btn-block btn-info" id="clear-points">Clear</button>
            </div>
            <div class="location-map" id="map"></div>
            <div class="modal-footer">
                <button type="button" id="btn-close-location" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--modal for choosing images-->
<div id="choose-image" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!--Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title text-center">Upload Files(Until 4)</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="image1" class="cols-sm-2 control-label">Image 1</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="file" name="image1" id="image1" form="new-apartment"/>
                        </div>
                    </div>
                </div>
                <div class="form-group image2 hidden">
                    <label for="image2" class="cols-sm-2 control-label">Image 2</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="file" name="image2" id="image2" form="new-apartment" />
                        </div>
                    </div>
                </div>
                <div class="form-group image3 hidden">
                    <label for="image3" class="cols-sm-2 control-label">Image 3</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="file" name="image3" id="image3" form="new-apartment" />
                        </div>
                    </div>
                </div>
                <div class="form-group image4 hidden">
                    <label for="image4" class="cols-sm-2 control-label">Image 4</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input type="file" name="image4" id="image4" form="new-apartment" />
                        </div>
                    </div>
                </div>
                <!--<div class="form-group image5 hidden">-->
                    <!--<label for="image5" class="cols-sm-2 control-label">Image 5</label>-->
                    <!--<div class="cols-sm-10">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>-->
                            <!--<input required="required" type="file" name="image5" id="image5"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group image6 hidden">-->
                    <!--<label for="image6" class="cols-sm-2 control-label">Image 6</label>-->
                    <!--<div class="cols-sm-10">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>-->
                            <!--<input required="required" type="file" name="image6" id="image6"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group image7 hidden">-->
                    <!--<label for="image7" class="cols-sm-2 control-label">Image 7</label>-->
                    <!--<div class="cols-sm-10">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>-->
                            <!--<input required="required" type="file" name="image7" id="image7"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="form-group image8 hidden">-->
                    <!--<label for="image8" class="cols-sm-2 control-label">Image 8</label>-->
                    <!--<div class="cols-sm-10">-->
                        <!--<div class="input-group">-->
                            <!--<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>-->
                            <!--<input required="required" type="file" name="image8" id="image8"/>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="allPhotos hidden">
                    <h3>For more images you can go to the edit page after the insertation of the apartment</h3>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-close-image" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#choose-location').on('shown.bs.modal', function(){
        google.maps.event.trigger(map, 'resize');
    });
</script>
<script>
    var placeSearch, autocomplete;
    var apartmentPosition = null;
    var apartmentMarker = null;
    var map = null;
    function initMap() {
        var uluru = {lat: 37.9833333, lng: 23.7333333};
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);

        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 7,
            center: uluru
        });
        map.addListener('click', function(e) {
            placeMarkerAndPanTo(e.latLng, map);
        });
        $("#clear-points").click(function (e) {
//                    it's trying to submit the form
            e.preventDefault();
            clearPoints();
        });

    }

    function locationPicked(pos) {
        apartmentPosition=pos;
        apartmentMarker = new google.maps.Marker({
            position: apartmentPosition,
            map: map
        });
        $("#autocomplete").prop('disabled', true);
        alert(pos);
        $("#f-lat").val(pos.lat);
        $("#f-lon").val(pos.lng);
        map.panTo(pos);
    }
    function clearPoints() {
        if(apartmentPosition!=null){
            apartmentMarker.setMap(null);
            apartmentPosition = null;
            $("#autocomplete").prop('disabled', false);
            $("#f-lat").val("");
            $("#f-lon").val("");
        }
    }
    function placeMarkerAndPanTo(latLng, map) {
        if(apartmentPosition==null){
            locationPicked(latLng);
        }else{
            return;
        }
    }
    function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();
        locationPicked(place.geometry.location);

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
    }

    $('#image1').change(function() {
        $(".image2").removeClass("hidden");
    });

    $('#image2').change(function() {
        $(".image3").removeClass("hidden");
    });

    $('#image3').change(function() {
        $(".image4").removeClass("hidden");
    });

    $('#image4').change(function() {
        $(".allPhotos").removeClass("hidden");
    });

//    $('#image5').change(function() {
//        $(".image6").removeClass("hidden");
//    });
//
//    $('#image6').change(function() {
//        $(".image7").removeClass("hidden");
//    });
//
//    $('#image7').change(function() {
//        $(".image8").removeClass("hidden");
//    });
//
//    $('#image8').change(function() {
//        $(".allPhotos").removeClass("hidden");
//    });


</script>
<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPDlSnR5Vfez6gsdfC_JZDc2KXRCjgf6c&amp;libraries=places&amp;callback=initMap">
</script>
</body>

</html>