<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <!--bootstrap and jquery-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!--fonts and icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

    <title>Admin</title>
</head>
<body>
<div class="row">
    <div id="my_chats">
        <h1>List Of Users</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <tr>
                    <th class="text-center">User Username</th>
                    <th class="text-center">Waiting Verification</th>
                    <th class="text-center">User's Information</th>
                </tr>
                <tr th:each="user : ${users}">
                    <td class="text-center" th:text="${user.username}">Apostolos</td>
                    <td class="text-center">
                        <p th:if="${user.enabled==false}">Need Verification</p>
                        <p th:unless="${user.enabled==false}">He is Enabled</p>
                    </td>
                    <td class="text-center"><a th:href="@{/userInfo(username=${user.username})}" class="btn btn-primary btn-block btn-md">User Information</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>


<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" th:src="@{/js/daterangepicker.js}" src="js/daterangepicker.js"></script>
<script type="text/javascript" th:src="@{/js/profile.js}" src="js/profile.js"></script>

</body>
</html>