<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <title>Hotel Name</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--bootstrap and jquery-->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!--fonts and icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!--page script and css-->
    <link href="css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/hotel-page.css"/>
    <script src="js/main.js"></script>
    <script src="js/hotel-page.js"></script>

    <!--for date range picker-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css"/>
    <style>
        .mySlides {display:none}
    </style>
</head>
<body>
<!--Top bar menu-->
<nav th:replace=" top_bar :: 'nav-bar-only-login'" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LIVE NOW</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li>
                    <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

</nav>

<div class="w3-content w3-border-left w3-border-right">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
            <h3>Rental</h3>
            <h3 th:text="${apartment.price}+'€'">$99</h3>
            <h4 th:text="${apartment.plusPrice}+'€ extra for each person after '+${apartment.standardPeople}"></h4>
            <h4 th:text="'+'+${apartment.cleanPrice}+'€ cleaning price(fixed).'"></h4>
            <h6>per night</h6>
            <hr/>
            <p><label><i class="fa fa-calendar-check-o"></i> Check In - Check Out</label></p>
            <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required="true" id="view-dates"/>

            <!--<p><label><i class="fa fa-calendar-o"></i> Check Out</label></p>-->
            <!--<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required="true"/>-->

            <p><label><i class="fa fa-male"></i> Adults</label></p>
            <input form="myform" class="w3-input w3-border" type="number" value="1" name="Adults" min="1" th:max="${apartment.maxPeople}" id="view-num-of-ppl"/>

            <p><button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#book-modal" onclick="updateBookModal();">Book Now
            <i class="fa fa-search w3-margin-right"></i></button></p>
        </div>
        <div class="w3-bar-block">
            <a href="#apartment" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-building"></i> Apartment</a>
            <a th:inline="text" href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('ratings').style.display='block'"><i class="fa fa-rss"></i> Rate ([[${'somehow get the rating/5'}]])</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-envelope"></i> Contact</a>
        </div>
    </nav>

<!-- Top menu on small screens -->
    <div class="my-left w3-hide-large w3-black w3-xlarge">
        <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()">
            <span class="w3-bar-item">Rental</span>
        </a>
    </div>
    <div id="book-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

            <!--Modal content-->
            <div id="book-actual" class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Book Apartment</h3>
                </div>
                <div class="modal-body">
                    <form th:action="@{/apartment/book}" method="post" id="myform">
                        <div class="row">
                            <label for="f-dates">Dates</label>
                            <input type="text" name="dates" readonly="readonly" id="f-dates"/>
                        </div>

                        <div class="row">
                            <label for="f-num-of-ppl">Number Of People</label>
                            <input type="number" name="num-of-ppl" min="0" th:max="${apartment.maxPeople}" readonly="readonly" id="f-num-of-ppl"/>
                        </div>

                        <div class="row">
                            <label for="f-price">Total Price</label>
                            <input type="number" readonly="readonly" name="display-price" id="f-price"/>
                        </div>
                        <div class="hidden">
                            <label for="f-price">Apartment id just for me</label>
                            <input type="hidden" name="apartment-id" id="f-apartment-id" th:value="${apartment.apartmentId}"/>
                        </div>

                        <input class="w3-block" type="submit" value="Book Now"/>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>

        </div>
    </div>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-white" style="margin-left:260px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:80px"></div>

        <!-- Slideshow Header -->
        <div class="w3-container" id="apartment">
            <h2 class="w3-text-green" th:text="${apartment.name}">The Apartment</h2>
            <div class="w3-display-container mySlides">
                <img src="/w3images/livingroom.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="close-photo-div" onclick="closeSlides()">
                    <i class="fa fa-times">Close</i>
                </div>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Living Room</p>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/diningroom.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Dining Room</p>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/bedroom.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Bedroom</p>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/livingroom2.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Living Room II</p>
                </div>
            </div>
        </div>
        <div class="w3-row-padding w3-section">
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/livingroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room"/>
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/diningroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room"/>
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/bedroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom"/>
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/livingroom2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room"/>
            </div>
        </div>

        <div class="w3-container">
            <h4><strong>The space</strong></h4>
            <div class="w3-row w3-large">
                <div class="w3-col s6">
                    <p th:inline="text"><i class="fa fa-fw fa-male"></i> Max people: [[${apartment.maxPeople}]]</p>
                    <p th:inline="text"><i class="fa fa-fw fa-bath"></i> Bathrooms: [[${apartment.baths}]]</p>
                    <p th:inline="text"><i class="fa fa-fw fa-bed"></i> Bedrooms: [[${apartment.rooms}]]</p>
                </div>
                <div class="w3-col s6">
                    <p th:inline="text"><i class="fa fa-fw fa-square"></i>Area : [[${apartment.area}]] m2</p>

                </div>
            </div>
            <hr/>

            <h4><strong>Amenities</strong></h4>
            <div class="w3-row w3-large">
                <div class="w3-col s6">
                    <!--<p><i class="fa fa-fw fa-shower"></i> Shower</p>-->
                    <p th:if="${apartment.kitchen}"><i class="fa fa-fw fa-cutlery"></i> Kitchen</p>
                    <p th:if="${apartment.fridge}"><i class="fa fa-fw fa-snowflake-o"></i> Fridge</p>
                    <p th:if="${apartment.wi_fi}"><i class="fa fa-fw fa-wifi"></i> WiFi</p>
                    <p th:if="${apartment.tv}"><i class="fa fa-fw fa-tv"></i> TV</p>
                    <p th:if="${apartment.heat}"><i class="fa fa-fw fa-thermometer"></i> Heating</p>
                    <p th:if="${apartment.aircondition}"><i class="fa fa-fw fa-thermometer-quarter"></i> Aircondition</p>
                </div>
                <div class="w3-col s6">
                    <p th:if="${apartment.pets}"><i class="fa fa-fw fa-paw"></i> Pets Allowed</p>
                    <p th:if="${apartment.parking}"><i class="fa fa-fw fa-car"></i> Parking</p>
                    <p th:if="${apartment.lift}"><i class="fa fa-fw fa-level-up"></i> Lift</p>
                    <!--<p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>-->
                </div>
            </div>
            <hr/>

            <h4><strong>Description</strong></h4>
            <p th:text="${apartment.houseDescription}">Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <!--<p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>-->
            <hr/>

            <h4><strong>Rules</strong></h4>
            <p th:text="${apartment.rules}">Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <!--<p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>-->
            <hr/>

            <h4><strong>Transportation</strong></h4>
            <div id="map" class="place-map"></div>
            <p th:inline="text"><i class="fa fa-map-marker" style="width:30px"></i>[[${apartment.location}]]</p>
            <p th:text="${apartment.trasnportationDescription}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <!--<p>Subscribe to receive updates on available dates and special offers.</p>-->
            <!--<p><button class="w3-button w3-green w3-third" onclick="document.getElementById('subscribe').style.display='block'">Subscribe</button></p>-->
        </div>
        <hr/>

        <!-- Contact -->
        <div class="w3-container" id="contact">
            <h2>Contact</h2>
            <p>Questions? Go ahead, ask them:</p>
            <small sec:authorize="!hasAuthority('customer')">You need to be log in as a customer/user (it's free)</small>
            <form sec:authorize="hasAuthority('customer')" th:action="@{/profile/user/new_message}" action="/action_page.php" method="post" id="communicate-form" target="_blank" name="communicate-form">
                <label for="f-message"> Your Message</label>
                <br/>
                <textarea class="w3-block" form="communicate-form" name="message" id="f-message"></textarea>
                <br/>
                <!--<p><input class="w3-input w3-border" type="text" placeholder="Message" required="true" name="Message"/></p>-->
                <button type="submit" class="w3-button w3-green w3-block">Send a Message</button>
            </form>
        </div>

        <!--<footer class="w3-container w3-padding-16" style="margin-top:32px">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></footer>-->

        <!-- End page content -->
    </div>

    <!-- Rate Modal -->
    <div id="ratings" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-padding-large">
            <div class="w3-container w3-white w3-center">
                <i onclick="document.getElementById('ratings').style.display='none'" class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
                <!--<h2 class="w3-wide">Ratings Of Apartment</h2>-->
                <h2 id="rating-header" class="w3-wide"> Ratings Of Apartment (45 comments)</h2>
                <div class="comments-list">
                    <div class="w3-row media">
                        <a class="w3-third " href="#">
                            <img class="pull-left img-circle" src="http://lorempixel.com/400/400/people/1/"/>
                        </a>
                        <div class="w3-third media-body">
                            <h4 class="media-heading user_name">Baltej Singh</h4>
                            Wow! this is really great.
                            Wow! this is really great.
                            Wow! this is really great.
                        </div>
                        <div class="w3-third">
                            <p class="pull-right"><small>22/10/95</small></p>
                            <br/>
                            <div class="stars" th:with="hotelRating=1">
                                <span th:each="i : ${#numbers.sequence( 1, hotelRating,1)}" class="glyphicon glyphicon-star"></span>
                                <th:block th:if="${5>hotelRating}">
                                    <span th:each="i : ${#numbers.sequence( 4, hotelRating,-1)}" class="glyphicon glyphicon-star-empty"></span>
                                </th:block>
                            </div>

                        </div>
                    </div>
                    <div class="w3-row media">
                        <a class="w3-third " href="#">
                            <img class="pull-left img-circle" src="http://lorempixel.com/400/400/people/1/"/>
                        </a>
                        <div class="w3-third media-body">
                            <h4 class="media-heading user_name">Baltej Singh</h4>
                            Wow! this is really great.
                            Wow! this is really great.
                            Wow! this is really great.
                        </div>
                        <div class="w3-third">
                            <p class="pull-right"><small>22/10/2</small></p>
                            <br/>
                            <div class="stars" th:with="hotelRating=5">
                                <span th:each="i : ${#numbers.sequence( 1, hotelRating,1)}" class="glyphicon glyphicon-star"></span>
                                <th:block th:if="${5>hotelRating}">
                                    <span th:each="i : ${#numbers.sequence( 4, hotelRating,-1)}" class="glyphicon glyphicon-star-empty"></span>
                                </th:block>
                            </div>
                        </div>
                    </div>
                    <!--<div class="media">-->
                        <!--<p class="pull-right"><small>5 days ago</small></p>-->
                        <!--<a class="media-left" href="#">-->
                            <!--<img src="http://lorempixel.com/40/40/people/2/"/>-->
                        <!--</a>-->
                        <!--<div class="media-body">-->

                            <!--<h4 class="media-heading user_name">Baltej Singh</h4>-->
                            <!--Wow! this is really great.-->

                            <!--&lt;!&ndash;<p><small><a href="">Like</a> - <a href="">Share</a></small></p>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="media">-->
                        <!--<p class="pull-right"><small>5 days ago</small></p>-->
                        <!--<a class="media-left" href="#">-->
                            <!--<img src="http://lorempixel.com/40/40/people/3/"/>-->
                        <!--</a>-->
                        <!--<div class="media-body">-->

                            <!--<h4 class="media-heading user_name">Baltej Singh</h4>-->
                            <!--Wow! this is really great.-->

                            <!--&lt;!&ndash;<p><small><a href="">Like</a> - <a href="">Share</a></small></p>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="media">-->
                        <!--<p class="pull-right"><small>5 days ago</small></p>-->
                        <!--<a class="media-left" href="#">-->
                            <!--<img src="http://lorempixel.com/40/40/people/4/"/>-->
                        <!--</a>-->
                        <!--<div class="media-body">-->

                            <!--<h4 class="media-heading user_name">Baltej Singh</h4>-->
                            <!--Wow! this is really great.-->

                            <!--&lt;!&ndash;<p><small><a href="">Like</a> - <a href="">Share</a></small></p>&ndash;&gt;-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <!--<button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>-->
            </div>
        </div>
    </div>
</div>
<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPDlSnR5Vfez6gsdfC_JZDc2KXRCjgf6c&amp;callback=initMap">
</script>
<th:block th:if="${hotelIsBusy==true}"><script>alert("Hotel is no longer available in this dates");</script></th:block>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var uluru = {lat: [[${apartment.lat}]], lng: [[${apartment.lon}]]};
    var apartmentId = [[${apartment.apartmentId}]];

    var basicCost = [[${apartment.price}]];
    var cleanCost = [[${apartment.cleanPrice}]];
    var plusCost  = [[${apartment.plusPrice}]];
    var standarPpl= [[${apartment.standardPeople}]];
    /*]]>*/
</script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var bookedDates    = [[ ${@apartmentService.getBookedDates({apartment.apartmentId})} ]];
    var availableDates = [[ ${@apartmentService.getAvailableDates({apartment.apartmentId})} ]];
    /*]]>*/

//    console.log(availableDates[0].from);
//    console.log("--------------");
//    console.log(bookedDates);
</script>
<script>
    function updateBookModal() {
        var dateStr = $("#view-dates").val();
        var numOfPpl= $("#view-num-of-ppl").val();
        $("#f-dates").val(dateStr);
        $("#f-num-of-ppl").val( numOfPpl );

        var price = 0;
        var numOfDays = calcDays(dateStr);
        price = numOfDays*basicCost+cleanCost;
        if(numOfPpl>standarPpl){
            price= price + (numOfPpl-standarPpl)*plusCost*numOfDays;
        }
        $("#f-price").val(price);
    }

    function calcDays(dateStr) {
        if(dateStr==""){
            return 0;
        }
        var dateFrom = dateStr.split("-")[0].trim();
        var dateTo = dateStr.split("-")[1].trim();

        var objDateFrom = new Date(dateFrom.split("/")[2],dateFrom.split("/")[0],dateFrom.split("/")[1]);
        var objDateTo = new Date(dateTo.split("/")[2],dateTo.split("/")[0],dateTo.split("/")[1]);

        var days = Math.round((objDateTo-objDateFrom)/(1000*60*60*24));
        console.log(days);
        return days;
    }
</script>

<script>
    $("#communicate-form").on( "submit", function( event ) {
        event.preventDefault();
        $.post(
            '/profile/user/new_message/' + apartmentId,
            $('#communicate-form').serialize()
        ).success(function (data) {
            if (data === true) {
                alert("Message sent. You can view the response from your profile")
            } else {
                alert("Message not! sent. You must be login and you can't contact your self");
            }
        });
    });
</script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: 'Hello World!'
        });
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function isValidRange(start, end) {
        var dataObj = $('input[name="CheckIn"]').data('daterangepicker');
        /*<![CDATA[*/
        if(start.format('YYYY-MM-DD') < '2017-08-10'  && end.format('YYYY-MM-DD')>'2017-08-10'){
            dataObj.setStartDate(new Date());
            dataObj.setEndDate(new Date());
            alert("not valid date range");
            dataObj.show();
        }else if( start.format('YYYY-MM-DD') < new moment().format('YYYY-MM-DD') ){
            dataObj.setStartDate(new Date());
            dataObj.setEndDate(new Date());
            alert("please select a day in the future");
            dataObj.show();
        }else{
            ;
        }/*]]>*/
    }
//     attach daterangepicker plugin



    var funIsInvalid=function isInvalid(date) {
//        returns false if the date is valid
//        returns true if the date is invalid and should be deleted
        /*<![CDATA[*/
        if( date.format('YYYY-MM-DD') < new moment().format('YYYY-MM-DD') ){
//            if it's a date in the past, erase it
            return true;
        }
        var i = 0 ;
        for (i=0;i<availableDates.length;i++){
            if(date.format('YYYY-MM-DD')>=availableDates[i].from && date.format('YYYY-MM-DD')<=availableDates[i].to){
//                if it's available check for booked
                for(j=0;j<bookedDates.length;j++){
                    if(date.format('YYYY-MM-DD')>=bookedDates[j].from && date.format('YYYY-MM-DD')<=bookedDates[j].to) {
//                        if it's beetwen booked dates then should be deleted
                        return true;
                    }
                }
                //if the hotel is available in this date and no books founds
                return false;
            }
        }
        return true;//if not available found
        /*]]>*/
    };
    $(function() {
        /*<![CDATA[*/
        if([[${hotelIsBusy}]]==false){
            $('input[name="CheckIn"]').daterangepicker({
                startDate : [[${dateRange}]].toString().split("-")[0].trim(),
                endDate : [[${dateRange}]].toString().split("-")[1].trim(),
                isInvalidDate:funIsInvalid,
                autoApply: true
            });
        }else{
            $('input[name="CheckIn"]').daterangepicker({
                isInvalidDate:funIsInvalid,
                autoApply: true
            });
        }
        /*]]>*/
        $('input[name="CheckIn"]').on('apply.daterangepicker', function(ev, picker) {
//            console.log(picker.startDate.format('YYYY-MM-DD'));
//            console.log(picker.endDate.format('YYYY-MM-DD'));
            isValidRange(picker.startDate,picker.endDate);
        });
    });

</script>
</body>
</html>
