<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml">
<head>
    <title>Hotel Name</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--bootstrap and jquery-->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <!--fonts and icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <!--page script and css-->
    <link href="css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/hotel-page.css"/>
    <script src="js/main.js"></script>
    <script src="js/hotel-page.js"></script>

    <!--for date range picker-->
    <script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="js/daterangepicker.js"></script>
    <link rel="stylesheet" type="text/css" href="css/daterangepicker.css"/>
    <style>
        .mySlides {display:none}
    </style>
</head>
<body>
<!--Top bar menu-->
<nav th:replace=" top_bar :: 'nav-bar-only-login'" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">LIVE NOW</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/sign-up"><span class="glyphicon glyphicon-user"></span> Sign Up</a>
                </li>
                <li>
                    <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>

            <ul class="nav navbar-nav">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>

</nav>

<div class="w3-content w3-border-left w3-border-right">
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-light-grey w3-collapse w3-top" style="z-index:3;width:260px" id="mySidebar">
        <div class="w3-container w3-display-container w3-padding-16">
            <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-transparent w3-display-topright"></i>
            <h3>Rental</h3>
            <h3>$99</h3>
            <h6>per night</h6>
            <hr/>
            <form action="/action_page.php" method="post" target="_blank">
                <p><label><i class="fa fa-calendar-check-o"></i> Check In - Check Out</label></p>
                <input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckIn" required="true"/>

                <!--<p><label><i class="fa fa-calendar-o"></i> Check Out</label></p>-->
                <!--<input class="w3-input w3-border" type="text" placeholder="DD MM YYYY" name="CheckOut" required="true"/>-->

                <p><label><i class="fa fa-male"></i> Adults</label></p>
                <input class="w3-input w3-border" type="number" value="1" name="Adults" min="1" max="6"/>

                <p><button class="w3-button w3-block w3-green w3-left-align" type="submit"><i class="fa fa-search w3-margin-right"></i> Search availability</button></p>
            </form>
        </div>
        <div class="w3-bar-block">
            <a href="#apartment" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-building"></i> Apartment</a>
            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-16" onclick="document.getElementById('subscribe').style.display='block'"><i class="fa fa-rss"></i> Subscribe</a>
            <a href="#contact" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-envelope"></i> Contact</a>
        </div>
    </nav>

<!-- Top menu on small screens -->
    <div class="my-left w3-hide-large w3-black w3-xlarge">
        <a href="javascript:void(0)" class="w3-right w3-bar-item w3-button" onclick="w3_open()">
            <span class="w3-bar-item">Rental</span>
        </a>
    </div>
    <div>

    </div>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main w3-white" style="margin-left:260px">

        <!-- Push down content on small screens -->
        <div class="w3-hide-large" style="margin-top:80px"></div>

        <!-- Slideshow Header -->
        <div class="w3-container" id="apartment">
            <h2 class="w3-text-green">The Apartment</h2>
            <div class="w3-display-container mySlides">
                <img src="/w3images/livingroom.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="close-photo-div" onclick="closeSlides()">
                    <i class="fa fa-times">Close</i>
                </div>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Living Room</p>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/diningroom.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Dining Room</p>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/bedroom.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Bedroom</p>
                </div>
            </div>
            <div class="w3-display-container mySlides">
                <img src="/w3images/livingroom2.jpg" style="width:100%;margin-bottom:-6px"/>
                <div class="w3-display-bottomleft w3-container w3-black">
                    <p>Living Room II</p>
                </div>
            </div>
        </div>
        <div class="w3-row-padding w3-section">
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/livingroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(1)" title="Living room"/>
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/diningroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(2)" title="Dining room"/>
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/bedroom.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(3)" title="Bedroom"/>
            </div>
            <div class="w3-col s3">
                <img class="demo w3-opacity w3-hover-opacity-off" src="/w3images/livingroom2.jpg" style="width:100%;cursor:pointer" onclick="currentDiv(4)" title="Second Living Room"/>
            </div>
        </div>

        <div class="w3-container">
            <h4><strong>The space</strong></h4>
            <div class="w3-row w3-large">
                <div class="w3-col s6">
                    <p><i class="fa fa-fw fa-male"></i> Max people: 4</p>
                    <p><i class="fa fa-fw fa-bath"></i> Bathrooms: 2</p>
                    <p><i class="fa fa-fw fa-bed"></i> Bedrooms: 1</p>
                </div>
                <div class="w3-col s6">
                    <p><i class="fa fa-fw fa-clock-o"></i> Check In: After 3PM</p>
                    <p><i class="fa fa-fw fa-clock-o"></i> Check Out: 12PM</p>
                </div>
            </div>
            <hr/>

            <h4><strong>Amenities</strong></h4>
            <div class="w3-row w3-large">
                <div class="w3-col s6">
                    <p><i class="fa fa-fw fa-shower"></i> Shower</p>
                    <p><i class="fa fa-fw fa-wifi"></i> WiFi</p>
                    <p><i class="fa fa-fw fa-tv"></i> TV</p>
                </div>
                <div class="w3-col s6">
                    <p><i class="fa fa-fw fa-cutlery"></i> Kitchen</p>
                    <p><i class="fa fa-fw fa-thermometer"></i> Heating</p>
                    <p><i class="fa fa-fw fa-wheelchair"></i> Accessible</p>
                </div>
            </div>
            <hr/>

            <h4><strong>Extra Info</strong></h4>
            <p>Our apartment is really clean and we like to keep it that way. Enjoy the lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>We accept: <i class="fa fa-credit-card w3-large"></i> <i class="fa fa-cc-mastercard w3-large"></i> <i class="fa fa-cc-amex w3-large"></i> <i class="fa fa-cc-cc-visa w3-large"></i><i class="fa fa-cc-paypal w3-large"></i></p>
            <hr/>

            <h4><strong>Rules</strong></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            <p>Subscribe to receive updates on available dates and special offers.</p>
            <p><button class="w3-button w3-green w3-third" onclick="document.getElementById('subscribe').style.display='block'">Subscribe</button></p>
        </div>
        <hr/>

        <!-- Contact -->
        <div class="w3-container" id="contact">
            <h2>Contact</h2>
            <div id="map" class="place-map"></div>
            <i class="fa fa-map-marker" style="width:30px"></i> Chicago, US<br/>
            <i class="fa fa-phone" style="width:30px"></i> Phone: +00 151515<br/>
            <i class="fa fa-envelope" style="width:30px"> </i> Email: mail@mail.com<br/>
            <p>Questions? Go ahead, ask them:</p>
            <form action="/action_page.php" target="_blank">
                <p><input class="w3-input w3-border" type="text" placeholder="Name" required="true" name="Name"/></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Email" required="true" name="Email"/></p>
                <p><input class="w3-input w3-border" type="text" placeholder="Message" required="true" name="Message"/></p>
                <button type="submit" class="w3-button w3-green w3-third">Send a Message</button>
            </form>
        </div>

        <footer class="w3-container w3-padding-16" style="margin-top:32px">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></footer>

        <!-- End page content -->
    </div>

    <!-- Subscribe Modal -->
    <div id="subscribe" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom w3-padding-large">
            <div class="w3-container w3-white w3-center">
                <i onclick="document.getElementById('subscribe').style.display='none'" class="fa fa-remove w3-button w3-xlarge w3-right w3-transparent"></i>
                <h2 class="w3-wide">SUBSCRIBE</h2>
                <p>Join our mailing list to receive updates on available dates and special offers.</p>
                <p><input class="w3-input w3-border" type="text" placeholder="Enter e-mail"/></p>
                <button type="button" class="w3-button w3-padding-large w3-green w3-margin-bottom" onclick="document.getElementById('subscribe').style.display='none'">Subscribe</button>
            </div>
        </div>
    </div>
</div>
<script async="async" defer="defer"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPDlSnR5Vfez6gsdfC_JZDc2KXRCjgf6c&amp;callback=initMap">
</script>
<th:block th:if="${hotelIsBusy==true}"><script>alert("Hotel is no longer available in this dates");</script></th:block>
<script>
    function initMap() {
        var uluru = {lat: 37.9833333, lng: 23.7333333};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map,
            title: 'Hello World!'
        });
    }
</script>
<script type="text/javascript" th:inline="javascript">
    function isValidRange(start, end) {
        var dataObj = $('input[name="CheckIn"]').data('daterangepicker');
        /*<![CDATA[*/
        if(start.format('YYYY-MM-DD') < '2017-08-10'  && end.format('YYYY-MM-DD')>'2017-08-10'){
            dataObj.setStartDate(new Date());
            dataObj.setEndDate(new Date());
            alert("not valid date range");
            dataObj.show();
        }else if( start.format('YYYY-MM-DD') < new moment().format('YYYY-MM-DD') ){
            dataObj.setStartDate(new Date());
            dataObj.setEndDate(new Date());
            alert("please select a day in the future");
            dataObj.show();
        }else{
            ;
        }/*]]>*/
    }
//     attach daterangepicker plugin



    var funIsInvalid=function isInvalid(date) {
        if (date.format('YYYY-MM-DD') == '2017-08-10') {
            return true;
        } else {
            return false;
        }
    }
    $(function() {
        /*<![CDATA[*/
        if([[${hotelIsBusy}]]==false){
            $('input[name="CheckIn"]').daterangepicker({
                startDate : [[${dateRange}]].toString().split("-")[0].trim(),
                endDate : [[${dateRange}]].toString().split("-")[1].trim(),
                isInvalidDate:funIsInvalid,
                autoApply: true
            });
        }else{
            $('input[name="CheckIn"]').daterangepicker({
                isInvalidDate:funIsInvalid,
                autoApply: true
            });
        }
        /*]]>*/
        $('input[name="CheckIn"]').on('apply.daterangepicker', function(ev, picker) {
//            console.log(picker.startDate.format('YYYY-MM-DD'));
//            console.log(picker.endDate.format('YYYY-MM-DD'));
            isValidRange(picker.startDate,picker.endDate);
        });
    });

</script>
</body>
</html>
