<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>

    <!-- Website CSS style -->
    <link href="css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/login.css"/>

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"/>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>

    <title>Register</title>
</head>
<body>
<nav th:replace=" top_bar :: 'nav-bar-only-login'" class="navbar navbar-inverse navbar-fixed-top" role="navigation">
</nav>
<div class="container">
    <div class="row main">
        <div class="panel-heading">
            <div class="panel-title text-center">
                <h1 class="title">Hotel</h1>
                <hr/>
            </div>
        </div>
        <div class="main-login main-center">

            <h5 th:if="${error=='user-exists'}" class="alert alert-danger">username already in use</h5>
            <h5 th:if="${error=='password-match'}" class="alert alert-danger">Password don't match</h5>
            <h5 th:if="${error=='password-strong'}" class="alert alert-danger">Password not good</h5>
            <h5 th:if="${error=='other'}" class="alert alert-danger">Make sure you filled everything correctly and try again</h5>

            <h5 th:if="${error!=null}" class="alert alert-danger">Make sure that all the fields are correct</h5>

            <h2 class="text-center login-label">REGISTER</h2>
            <form th:action="@{/register}" action="/register" class="form-horizontal" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">Username</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                            <input th:value="${oldVal?.get('username')}" required="required" type="text" class="form-control" name="username" id="username"  placeholder="Enter your Username"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input th:value="${oldVal?.get('password')}" required="required" type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            <input th:value="${oldVal?.get('confirm')}" required="required" type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password"/>
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="name" class="cols-sm-2 control-label">Your Name</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:value="${oldVal?.get('name')}" required="required" type="text" class="form-control" name="name" id="name"  placeholder="Enter your Name"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="surname" class="cols-sm-2 control-label">Surname</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input th:value="${oldVal?.get('surname')}" required="required" type="text" class="form-control" name="surname" id="surname"  placeholder="Enter your Surname"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="email" class="cols-sm-2 control-label">Your Email</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input th:value="${oldVal?.get('email')}" required="required" type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="telephone" class="cols-sm-2 control-label">Contact Number</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                            <input th:value="${oldVal?.get('telephone')}" required="required" type="text" class="form-control" name="telephone" id="telephone"  placeholder="Enter your number"/>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="user-role" class="cols-sm-2 control-label">Register as</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <select name="user-role" id="user-role" class="form-control">
                                <option value="host">Host</option>
                                <option value="owner">Owner</option>
                                <option value="both">Host + Owner</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="photo" class="cols-sm-2 control-label">Photo(of you)</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <input required="required" type="file" name="photo" id="photo"/>
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    <input type="submit" class="btn btn-primary btn-lg btn-block login-button">Register</input>
                </div>
                <!--<div class="login-register">-->
                <a href="/login">Already a user, Login</a>
                <!--</div>-->
            </form>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>