<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>html</title>
</head>
<body>
<nav th:fragment="nav-bar-only-login" class="top-bar-fixed navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">LIVE NOW</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <th:block th:if="${#httpServletRequest.remoteUser}">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" th:value="Logout" class="btn-info"/>
                        </form>
                    </li>
                    <li>
                        <a href="/profile"><span class="glyphicon glyphicon-user"></span> Profile</a>
                    </li>
                </ul>
            </th:block>
            <th:block th:unless="${#httpServletRequest.remoteUser}">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/register"><span class="glyphicon glyphicon-user"></span> Register</a>
                    </li>
                    <li>
                        <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                    </li>
                </ul>
            </th:block>

            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

</body>
</html>