<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:style="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <!--bootstrap and jquery-->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

    <!--fonts and icons-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

    <!--for date range picker-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/daterangepicker.css}" href="css/daterangepicker.css"/>

    <!--custom css/js-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/profile.css}" href="css/profile.css"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}" href="css/main.css"/>

    <title>My Books</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <div class="nav-side-menu" th:replace="profile_menu :: nav-bar-profile"></div><!--end of side bar-->
        </div><!--end of col-3 for the bar -->
        <!--main content of profile-->
        <div id="my_books" class="col-sm-9">
            <h1>My Books</h1>
            <h5 th:if="${param?.rating_done}" class="alert alert-success">Thanks for rating!</h5>
            <h5 th:if="${param?.rating_error}" class="alert alert-danger">Problem while rating! Try again later</h5>
            <h2 th:if="${allBooks?.size()==0}">Sorry you haven't book something :(</h2>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th class="text-center">Apartment Name</th>
                        <th class="text-center">From</th>
                        <th class="text-center">To</th>
                        <th class="text-center">Price</th>
                        <th class="text-center">Rate Apartment</th>
                        <th class="text-center">Rate Host</th>
                    </tr>
                    <tr th:each="oneBook : ${allBooks}">
                        <td class="text-center" ><a th:href="@{/apartment(hotel-id=${oneBook.apartment.apartmentId})}" th:text="${oneBook.apartment.name}"></a></td>
                        <td class="text-center" th:text="${oneBook.bookIn}">1/1/1970</td>
                        <td class="text-center" th:text="${oneBook.bookOut}">1/1/2010</td>
                        <td class="text-center" th:text="${oneBook.bookId}">007</td>
                        <td class="text-center">
                            <button th:attr="disabled=${oneBook.bookOut.before(curDate) and oneBook.reviewDone==false   ? 'false' : 'true'}" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#rating_modal" onclick="rateApartment(1,'Villa Mercendes');" th:onclick="'rateApartment('+${oneBook.bookId}+',\''+${oneBook.apartment.name}+'\')'">Rate</button>
                        </td>
                        <td class="text-center">
                            <button th:attr="disabled=${oneBook.bookOut.before(curDate)   ? 'false' : 'true'}" type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#rating_host_modal" onclick="rateHost(1,'Villa Mercendes');" th:onclick="'rateHost('+${oneBook.bookId}+',\''+${oneBook.apartment.login.name}+' '+${oneBook.apartment.login.surname}+'\')'">Comment</button>
                        </td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
</div>
<div id="rating_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!--Modal content-->
        <form id="submit_rating" name="rating_form" method="post" th:action="@{/profile/user/rate}">
            <input type="hidden" name="book-id" value=""/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Rate Apartment <span id="rate-name"> Villa</span></h3>
                </div>
                <div class="modal-body">
                    <fieldset class="rating">
                        <input required="required" type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
                        <input required="required" type="radio" id="star4half" name="rating" value="4.5" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
                        <input required="required" type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                        <input required="required" type="radio" id="star3half" name="rating" value="3.5" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
                        <input required="required" type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
                        <input required="required" type="radio" id="star2half" name="rating" value="2.5" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
                        <input required="required" type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                        <input required="required" type="radio" id="star1half" name="rating" value="1.5" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
                        <input required="required" type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Bad - 1 star"></label>
                        <input required="required" type="radio" id="starhalf" name="rating" value="0.5" /><label class="half" for="starhalf" title="Very Bad - 0.5 stars"></label>
                    </fieldset>
                    <!--<hr/>-->
                    <label for="f-content">How was it (255 max)</label>
                    <textarea required="required" name="content" id="f-content" form="submit_rating" maxlength="255"></textarea>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="Rate"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>

        <div id="rate_modal_loading" class="hidden modal-content">
            <div class="modal-header text-center">
                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </div>
        </div>

    </div>
</div>

<div id="rating_host_modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!--Modal content-->
        <form id="submit_host_rating" name="rating_host_form" method="post" th:action="@{/profile/user/rate_host}">
            <input type="hidden" name="book-id" value=""/>
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title text-center">Rate Host <span id="rate-host-name"> Plakia</span></h3>
                </div>
                <div class="modal-body">
                    <!--if we use star for host it's here-->
                    <fieldset class="rating">
                        <input required="required" type="radio" id="host-star5" name="rating" value="5" /><label class = "full" for="host-star5" title="Awesome - 5 stars"></label>
                        <input required="required" type="radio" id="host-star4half" name="rating" value="4.5" /><label class="half" for="host-star4half" title="Pretty good - 4.5 stars"></label>
                        <input required="required" type="radio" id="host-star4" name="rating" value="4" /><label class = "full" for="host-star4" title="Pretty good - 4 stars"></label>
                        <input required="required" type="radio" id="host-star3half" name="rating" value="3.5" /><label class="half" for="host-star3half" title="Meh - 3.5 stars"></label>
                        <input required="required" type="radio" id="host-star3" name="rating" value="3" /><label class = "full" for="host-star3" title="Meh - 3 stars"></label>
                        <input required="required" type="radio" id="host-star2half" name="rating" value="2.5" /><label class="half" for="host-star2half" title="Kinda bad - 2.5 stars"></label>
                        <input required="required" type="radio" id="host-star2" name="rating" value="2" /><label class = "full" for="host-star2" title="Kinda bad - 2 stars"></label>
                        <input required="required" type="radio" id="host-star1half" name="rating" value="1.5" /><label class="half" for="host-star1half" title="Meh - 1.5 stars"></label>
                        <input required="required" type="radio" id="host-star1" name="rating" value="1" /><label class = "full" for="host-star1" title="Bad - 1 star"></label>
                        <input required="required" type="radio" id="host-starhalf" name="rating" value="0.5" /><label class="half" for="host-starhalf" title="Very Bad - 0.5 stars"></label>
                    </fieldset>
                    <!--<hr/>-->
                    <label for="f-content">How was it (255 max)</label>
                    <textarea required="required" name="content" id="f-host-content" form="submit_host_rating" maxlength="255"></textarea>

                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="Rate Host"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </form>

        <div id="rate_host_modal_loading" class="hidden modal-content">
            <div class="modal-header text-center">
                <i class="fa fa-spinner fa-spin" style="font-size:24px"></i>
            </div>
        </div>

    </div>
</div>

<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" th:src="@{/js/daterangepicker.js}" src="js/daterangepicker.js"></script>
<script type="text/javascript" th:src="@{/js/profile.js}" src="js/profile.js"></script>

</body>

</html>